body, input, button {

    margin: 8px;
}

li:hover {
    background-color: #f5f5f5c3;
}

.list   {
    margin-left: 20px;
    width: 20%;
    text-indent: 5px;
}

h1 {
    padding-left: 30px;
    margin: 10px;
}

#firstValue {
    margin-left: 20px;

}