body, input, button {

    margin: 8px;
}

li:hover {
    background-color: #f5f5f5c3;
}

.list   {
    margin-left: 20px;
    width: 20%;

    /* text-indent: 5px; */
    /* display:inline-block; */
}

h1 {
    padding-left: 30px;
    margin: 10px;
}

#firstValue {
    margin-left: 20px;
    border-color: rgba(162, 160, 157, 0.954);
}


#secondValue {
    border-color: rgba(162, 160, 157, 0.954);
}

.btn-danger {
    margin-left: 20px;
    margin-bottom: 20px;

}
.btn-success {
    display:inline-block;
    width: 15%;
}

.list-group-item {
    padding-top: 5px;
    padding-bottom: 5px;
}